/* Main Layout */

.main-layout {
  display: grid;
  grid-template-columns: 45px 1fr 45px;
  align-content: space-between;
  width: 100%;
  margin: auto;
  background-color: var(--clr05);
}

.main-layout > .full {
  grid-column: 1 / -1;
}
.main-layout > *:not(.full) {
  grid-column: 2;
}
