@media (max-width: 880px) {
  .nav .main-nav {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--clr05);
    border-inline-start: 1px solid var(--clr05);
    box-shadow: -6px 0px 20px 5px rgb(0 0 0 / 22%);
    min-width: 200px;
    transform: translateX(100%);
    transition: transform 0.6s;
  }

  .header-btn {
    display: flex;
    background-color: transparent;
    color: var(--clr01);
    border: none;
    width: 50px;
    font-size: 30px;
  }

  .main-header .main-menu > *:not(li) {
    display: flex;
    width: 200px;
    height: 80px;
    object-fit: contain;
    padding: 12px;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    opacity: 1;
  }

  .main-header .main-menu {
    flex-direction: column;
  }

  .main-menu > * {
    border-bottom: 1px solid #ccc;
    color: var(--clr13);
  }

  .main-header .main-menu a {
    display: flex;
    padding: 10px 20px;
    transition: background-color 0.4s;
  }
}

@media (min-width: 880px) {
  .main-header {
    background-color: var(--clr02);
  }
  .main-header .nav {
    height: 100%;
  }
  .gallery-header .search {
    flex-direction: row;
  }

  .gallery-header .search .img-search {
    width: 40%;
  }

  .main-header .main-nav a {
    color: var(--clr01);
    width: calc(var(--nav-height) * 2);
    height: var(--nav-height);
  }
}

@media (min-width: 1000px) {
  .edit {
    grid-template-columns: auto repeat(2, minmax(200px, 500px)) auto;
    justify-items: unset;
  }
  .canvas-container {
    grid-column: 2;
  }

  .tools {
    grid-column: 3;
  }
}
