:root {
  /* palette */
  --clr01: #ffffff;
  --clr02: #ff7f00;
  --clr03: #000000;
  --clr04: #040a2c;
  --clr05: #e3e3e3;
  --clr06: #959595;
  --clr07: #7a7a7a;
  --clr08: #8a8a8a;
  --clr09: #fefefe;
  --clr10: #646464;
  --clr11: #4b85f0;
  --clr12: #f95371;
  --clr13: #fc9d43;
  --clr14: #595959;
  --clr15: #040a2c;
  /* layout */

  --nav-height: 66px;
}
