.canvas-container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

canvas {
  background-color: inherit;
  border-radius: 0.5em;
}

.thumbnail {
  width: 100px;
  height: auto;
  border-radius: 5px;
}
