.main-footer {
  background-color: var(--clr02);
}

.main-footer__inner {
  height: 200px;
  bottom: 0;
  width: 100%;
  justify-content: center;
  margin-bottom: auto;
  display: flex;
}

/* .main-footer .footer-container > * {
  margin-block-end: 2rem;
} */
.main-footer .footer-container {
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 135px;
  height: 25px;
}

.logo:hover {
  cursor: pointer;
}

.footer-text {
  font-size: 1.18em;
}
