.gallery {
  grid-column: 1/-1;
  background-color: var(--clr05);
  padding: 20px 0;
  flex: 1;
}

.imgs {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  align-content: center;
  align-items: center;
  grid-column: 1/ -1;
}

.imgs .img {
  flex: 1 1 180px;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  transition: scale 0.3s;
}
.img__inner:hover {
  position: relative;
}
.img__inner:hover .meme-delete {
  opacity: 1;
}

.meme-delete {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--clr08);
  border-radius: 50%;
  border: none;
}

.imgs .img:hover {
  scale: 1.05;
  box-shadow: 10px 5px 15px var(--clr10);
  cursor: pointer;
}

.main-layout.gallery-header {
  background-color: var(--clr01);
  align-items: center;
  justify-content: center;
}

.gallery-header .search {
  display: flex;
  grid-column: 2;
  align-items: center;
  flex-direction: column;
}

.gallery-header .more {
  grid-column: -1;
  font-size: 0.6em;
  color: var(--clr03);
}

.gallery-header .search .img-search {
  border: none;
  width: 100%;
  height: 2em;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr01);
  color: var(--clr03);
  padding: 12px;
  width: 100%;
  height: 100px;
}

.stat-item {
  height: 100%;
}

.file-input {
  grid-column: 1/-1;
  grid-row: 1;
}
