.gallery {
  grid-column: 1/-1;
  background-color: var(--clr05);
  padding: 20px 0;
}

.imgs {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  align-content: center;
  align-items: center;
  grid-column: 1/ -1;
}

.imgs .img {
  flex: 1 1 200px;
  width: minmax(200, 100%);
  height: auto;
  object-fit: cover;
}

.main-layout.gallery-header {
  background-color: var(--clr01);
  align-items: center;
  justify-content: center;
}

.gallery-header .search {
  display: flex;
  grid-column: 2;
  align-items: center;
}

.gallery-header .more {
  grid-column: -1;
  font-size: 0.6em;
  color: var(--clr03);
}

.gallery-header .search .img-search {
  border: none;
  width: 30%;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr01);
  color: var(--clr03);
  padding: 12px;
  width: 100%;
  height: 100px;
}

.stat-item {
  height: 100%;
}

.file-input {
  grid-column: 1/-1;
  grid-row: 1;
}
