.edit {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--clr05);
  gap: 12px;
  margin-top: 20px;
  justify-items: center;
}

.tools-container__inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 60px) auto;
  gap: 14px;
  justify-items: center;
  grid-column: 2;
  margin: auto;
  width: 440px;
}

.edit.hide,
.tools-container.hide {
  display: none;
}

.tools-container__inner input[type='text'] {
  width: 100%;
  padding: 0.8em;
  border-radius: 0.25em;
  font-size: 1.5em;
  grid-column: 1/ -1;
  height: 50px;
}

.btn-cta {
  width: 60px;
  height: 60px;
  font-family: fa-solid;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0.25em;
  align-self: top;
  text-align: center;
  cursor: pointer;
}

.btn-cta.large {
  width: 120px;
  font-size: 1.2em;
  font-family: main;
  background: var(--clr13);
  border: 1px solid var(--clr02);
  color: var(--clr01);
  cursor: pointer;
  margin: 0 5px;
  user-select: none;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  margin: 3px;
}

.btn-cta.large:hover {
  background: var(--clr02);
}

.btn-cta.large:active {
  color: var(--clr06);
}

.delete-btn {
  grid-column: 4;
  grid-row: 2;
}
.delete-btn::after {
  content: '\f2ed';
}

.add-btn {
  grid-column: 3;
  grid-row: 2;
}
.add-btn::after {
  content: '\2b';
}

.next-btn {
  grid-column: 2;
  grid-row: 2;
}
.next-btn::after {
  content: '\f07d';
}
.font-up-btn {
  grid-column: 1;
  grid-row: 3;
}
.font-up-btn::after {
  content: '\f424';
}

.font-down-btn {
  grid-column: 2;
  grid-row: 3;
}
.font-down-btn::after {
  content: '\f422';
}

.left-btn {
  grid-column: 3;
  grid-row: 3;
}
.left-btn::after {
  content: '\f036';
}

.center-btn {
  grid-column: 4;
  grid-row: 3;
}
.center-btn::after {
  content: '\f037';
}

.right-btn {
  grid-column: 5;
  grid-row: 3;
}
.right-btn::after {
  content: '\f038';
}

.color-btn {
  grid-column: 5;
  grid-row: 4;
}
/* .color-btn::after {
  content: '\f53f';
  grid-row: 1;
  grid-column: 1;
} */

.font-btn {
  grid-column: 4;
  grid-row: 4;
}
.font-btn::after {
  content: '\41';
}

.font-family {
  grid-column: 1/ 4;
  grid-row: 4;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
  font-family: lato-bold;
}

.share-btn {
  grid-column: 1/3;
  grid-row: 5;
  justify-self: left;
  align-self: end;
}
.share-btn::before {
  content: '\f39e';
  font-family: fa;
  padding: 0 4px;
}

.save-btn {
  grid-column: 4/6;
  grid-row: 5;
  justify-self: right;
  align-self: end;
}

.download-btn {
  grid-row: 5;
  justify-self: right;
  align-self: end;
}
